/* 字体色 */
.color-primary {
  color: $color-theme-6;
}

.color-success {
  color: $color-success;
}

.color-warning {
  color: $color-warning;
}

.color-danger {
  color: $color-danger;
}

.color-title {
  color: $color-title;
}

.color-primary-text {
  color: $color-primary-text;
}

.color-secondary-text {
  color: $color-secondary-text;
}

/* 对齐 */
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

/* 浮动 */
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.fix {
  zoom: 1;
  &:after {
    content: "";
    display: block;
    clear: both
  }
}

/* 间距 */
.margin {
  &-bottom {
    &-0x {
      margin-bottom: x-space(0);
    }
    &-1x {
      margin-bottom: x-space(1);
    }
    &-2x {
      margin-bottom: x-space(2);
    }
    &-3x {
      margin-bottom: x-space(3);
    }
    &-4x {
      margin-bottom: x-space(4);
    }
    &-5 {
      margin-bottom: x-space(5);
    }
    &-6x {
      margin-bottom: x-space(6);
    }
    &-7x {
      margin-bottom: x-space(7);
    }
    &-8x {
      margin-bottom: x-space(8);
    }
  }
  &-top {
    &-0x {
      margin-top: x-space(0);
    }
    &-1x {
      margin-top: x-space(1);
    }
    &-2x {
      margin-top: x-space(2);
    }
    &-3x {
      margin-top: x-space(3);
    }
    &-4x {
      margin-top: x-space(4);
    }
    &-5x {
      margin-top: x-space(5);
    }
    &-6x {
      margin-top: x-space(6);
    }
    &-7x {
      margin-top: x-space(7);
    }
    &-8x {
      margin-top: x-space(8);
    }
  }
}