/* 对齐 */
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

/* 浮动 */
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.fix {
  zoom: 1;
  &:after {
    content: "";
    display: block;
    clear: both
  }
}

/* 间距 */
.space {
  &-bottom {
    &-0x {
      margin-bottom: x-space(0);
    }
    &-1x {
      margin-bottom: x-space(1);
    }
    &-2x {
      margin-bottom: x-space(2);
    }
    &-3x {
      margin-bottom: x-space(3);
    }
    &-4x {
      margin-bottom: x-space(3);
    }
  }
  &-top {
    &-0x {
      margin-top: x-space(0);
    }
    &-1x {
      margin-top: x-space(1);
    }
    &-2x {
      margin-top: x-space(2);
    }
    &-3x {
      margin-top: x-space(3);
    }
    &-4x {
      margin-top: x-space(3);
    }
  }
}