/* 改变主题色变量 */
$--color-primary: $color-primary;

/* 边框 */
$--border-color-base: $color-border;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";

/* element-ui重置样式 */
/* form */
.el-form {
  .el-form-item {
    .el-form-item__label-wrap .el-form-item__label {
      color: $color-title;
    }

    /* 级联选择器在error状态下hover边框颜色变化样式重置 */
    &.el-form-item--feedback {
      &.is-error {
        .el-cascader {
          &:hover {
            .el-input__inner {
              border-color: $--color-danger;
            }
          }
        }

        .editor-wrapper {
          .tox-tinymce {
            border-color: $--color-danger;
          }
        }
      }
    }
  }

  /* detail-form */
  &.detail-form {
    .el-form-item {
      margin-bottom: x-space(0);

      .el-form-item__label {
        color: $color-label;
      }
    }

    .detail-btn-wrap {
      margin-top: x-space(2);
    }
  }
}

/* tinymce */
.tox-tinymce {
  border-radius: $--border-radius-base !important;
}

/* checkbox */
.el-checkbox-group {
  font-size: inherit;
}

.el-checkbox {
  .el-checkbox__input {
    line-height: 1;
  }

  .el-checkbox__label {
    padding-left: x-space(1);
  }
}

/* radio */
.el-radio-group {
  display: block;
  line-height: inherit;
  font-size: inherit;
}

.el-radio {
  line-height: inherit;

  .el-radio__input {
    line-height: 1;
  }

  .el-radio__label {
    padding-left: x-space(1);
  }
}

/* card */
.el-card {
  .el-card__header {
    padding: x-space(2);

    .el-card__header-title {
      display: inline-block;
      line-height: 22px;
    }

    .el-card__header-btn {
      padding: 3px 0;
    }
  }
}

/* alert */
.el-alert--primary {
  &.is-light {
    background-color: $color-theme-1;
    color: $color-primary-text;

    .el-alert__icon {
      color: $color-primary;
    }
  }

  &.is-dark {
    background-color: $color-primary;
    color: $color-gray-1;
  }
}

/* step */
.el-step {
  &.is-horizontal {
    .el-step__head {
      &.is-wait {
        color: $color-disable;
        border-color: $color-disable;
      }

      &.is-process {
        color: $color-gray-1;
        border-color: $color-primary;

        .el-step__icon {
          background-color: $color-primary;
        }
      }

      &.is-success,
      &.is-finish {
        color: $color-primary;
        border-color: $color-primary;

        .el-step__line {
          background-color: $color-primary;
        }
      }
    }

    .el-step__main {
      .el-step__title {
        &.is-wait {
          color: $color-secondary-text;
        }

        &.is-process {
          color: $color-title;
          font-weight: normal;
        }

        &.is-success,
        &.is-finish {
          color: $color-primary-text;
        }
      }

      .el-step__description {
        &.is-wait {
          color: $color-secondary-text;
        }

        &.is-process {
          color: $color-title;
          font-weight: normal;
        }

        &.is-success,
        &.is-finish {
          color: $color-primary-text;
        }
      }
    }

    .el-step__line {
      margin-left: x-space(3) !important;
      margin-right: x-space(3) !important;
    }
  }
}

/* dialog */
.el-dialog {
  border-radius: $--border-radius-base;
  box-shadow: 1px 1px 50px rgba(0, 0, 0, .3);

  & > .el-dialog__header {
    padding: x-space(2);
    border-radius: $--border-radius-base $--border-radius-base 0 0;
    background-color: $color-gray-3;

    .el-dialog__title {
      min-height: 16px;
      font-size: 16px;
      line-height: 16px;
      color: $color-title;
    }

    .el-dialog__headerbtn {
      line-height: 0;
    }
  }

  & > .el-dialog__body {
    padding: x-space(3);
  }

  & > .el-dialog__footer {
    padding: 0 x-space(2) x-space(2) x-space(2);
  }

  &.dialog-responsive {
    @media screen and (max-width: 767px) {
      &-xs,
      &-sm,
      &-md,
      &-lg,
      &-xl {
        width: 90% !important;
      }
    }
    @media (min-width: 768px) and (max-width: 1199px) {
      &-xs {
        width: 50% !important;
      }
      &-sm {
        width: 60% !important;
      }
      &-md {
        width: 70% !important;
      }
      &-lg {
        width: 80% !important;
      }
      &-xl {
        width: 90% !important;
      }
    }
    @media (min-width: 1200px) and (max-width: 1919px) {
      &-xs {
        width: 30% !important;
      }
      &-sm {
        width: 40% !important;
      }
      &-md {
        width: 50% !important;
      }
      &-lg {
        width: 60% !important;
      }
      &-xl {
        width: 70% !important;
      }
    }
    @media screen and (min-width: 1920px) {
      &-xs {
        width: 20% !important;
      }
      &-sm {
        width: 30% !important;
      }
      &-md {
        width: 40% !important;
      }
      &-lg {
        width: 50% !important;
      }
      &-xl {
        width: 60% !important;
      }
    }
  }
}

/* message box */
.el-message-box {
  box-shadow: 1px 1px 50px rgba(0, 0, 0, .3);
  border: none;
  padding-bottom: 0;

  & > .el-message-box__header {
    padding: x-space(2);
    border-radius: $--border-radius-base $--border-radius-base 0 0;
    background-color: $color-gray-3;

    .el-message-box__title {
      min-height: 16px;
      font-size: 16px;
      line-height: 16px;
      color: $color-title;
    }

    .el-message-box__headerbtn {
      top: x-space(2);
      right: x-space(2);
      line-height: 0;
    }
  }

  & > .el-message-box__content {
    padding: x-space(2);
  }

  & > .el-message-box__btns {
    padding: 0 x-space(2) x-space(2) x-space(2);
  }
}