/* 改变主题色变量 */
$--color-primary: $color-primary;

/* 边框 */
$--border-color-base: $color-border !default;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";

/* element-ui重置样式 */
/* form */
.el-form {
  .el-form-item {
    .el-form-item__label-wrap .el-form-item__label {
      color: $color-title;
    }
    /* 级联选择器在error状态下hover边框颜色变化样式重置 */
    &.el-form-item--feedback {
      &.is-error {
        .el-cascader {
          &:hover {
            .el-input__inner {
              border-color: $--color-danger;
            }
          }
        }

        .editor-wrapper {
          .tox-tinymce {
            border-color: $--color-danger;
          }
        }
      }
    }
  }

  /* detail-form */
  &.detail-form {
    .el-form-item {
      margin-bottom: x-space(0);

      .el-form-item__label {
        color: $color-label;
      }
    }

    .detail-btn-wrap {
      margin-top: x-space(2);
    }
  }
}

/* tinymce */
.tox-tinymce {
  border-radius: $--border-radius-base !important;
}

/* checkbox */
.el-checkbox-group {
  font-size: inherit;
}

.el-checkbox {
  .el-checkbox__input {
    line-height: 1;
  }

  .el-checkbox__label {
    padding-left: x-space(1);
  }
}

/* radio */
.el-radio-group {
  display: block;
  line-height: inherit;
  font-size: inherit;
}

.el-radio {
  line-height: inherit;

  .el-radio__input {
    line-height: 1;
  }

  .el-radio__label {
    padding-left: x-space(1);
  }
}

/* card */
.el-card {
  .el-card__header {
    padding: x-space(2);

    .el-card__header-title {
      display: inline-block;
      line-height: 22px;
    }

    .el-card__header-btn {
      padding: 3px 0;
    }
  }
}

/* alert */
.el-alert--primary {
  &.is-light {
    background-color: $color-theme-1;
    color: $color-primary-text;

    .el-alert__icon {
      color: $color-primary;
    }
  }

  &.is-dark {
    background-color: $color-primary;
    color: $color-gray-1;
  }
}

/* step */
.el-step {
  &.is-horizontal {
    .el-step__head {
      &.is-wait {
        color: $color-disable;
        border-color: $color-disable;
      }

      &.is-process {
        color: $color-gray-1;
        border-color: $color-primary;

        .el-step__icon {
          background-color: $color-primary;
        }
      }

      &.is-success,
      &.is-finish {
        color: $color-primary;
        border-color: $color-primary;

        .el-step__line {
          background-color: $color-primary;
        }
      }
    }

    .el-step__main {
      .el-step__title {
        &.is-wait {
          color: $color-secondary-text;
        }

        &.is-process {
          color: $color-title;
          font-weight: normal;
        }

        &.is-success,
        &.is-finish {
          color: $color-primary-text;
        }
      }

      .el-step__description {
        &.is-wait {
          color: $color-secondary-text;
        }

        &.is-process {
          color: $color-title;
          font-weight: normal;
        }

        &.is-success,
        &.is-finish {
          color: $color-primary-text;
        }
      }
    }

    .el-step__line {
      margin-left: x-space(3) !important;
      margin-right: x-space(3) !important;
    }
  }
}