@import "./variables.scss";
@import "./mixin.scss";
@import "./transition.scss";
@import "./layout.scss";
@import "./page.scss";
@import "./common.scss";
@font-face {
  font-family: Chinese Quote;
  src: local("PingFang SC"), local("SimSun");
  unicode-range: U+2018, U+2019, U+201c, U+201d;
}

*,
 :after,
 :before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: $default-font-color;
  background-color: $color-write;
  overflow-x: hidden;
}


/* ------ element-ui ------ */

$--color-primary: $theme-color;

/* ------ nprogress ------ */

#nprogress {
  .bar {
    background: $theme-color !important;
  }
  .peg {
    box-shadow: 0 0 10px $theme-color, 0 0 5px $theme-color !important;
  }
}
