/* ------ layout options ------ */
$layout-default-bg-color: $color-gray-4;

$layout-default-sider-width: 256px;
$layout-default-sider-width-collapsed: 64px;
$layout-default-sider-bg-color: $color-theme-12;
$layout-default-sider-fixed-z-index: 99;

$layout-default-header-height: 64px;
$layout-default-header-bg-color: $color-gray-1;
$layout-default-header-fixed-z-index: 98;

.x-layout {
  position: relative;
  display: flex;
  flex-direction: row;
  background: $layout-default-bg-color;
  min-height: 0;
  z-index: 1;
  overflow-x: hidden;

  &-sider {
    position: relative;
    width: $layout-default-sider-width;
    max-width: $layout-default-sider-width;
    min-width: $layout-default-sider-width;
    min-height: 100vh;
    z-index: 10;
    flex: 0 0 auto;
    background: $layout-default-sider-bg-color;
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
    @include x-transition(0.3s);

    & + &-content {
      .x-layout-header.header-fixed {
        width: calc(100% - #{$layout-default-sider-width});
      }
    }

    &.collapsed {
      width: $layout-default-sider-width-collapsed;
      max-width: $layout-default-sider-width-collapsed;
      min-width: $layout-default-sider-width-collapsed;
      & + .x-layout-content {
        .x-layout-header.header-fixed {
          width: calc(100% - #{$layout-default-sider-width-collapsed});
        }
      }
    }

    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      z-index: $layout-default-sider-fixed-z-index;

      & + .x-layout-content {
        width: 100%;
        padding-left: $layout-default-sider-width;
      }

      &.collapsed + .x-layout-content {
        padding-left: $layout-default-sider-width-collapsed;
      }
    }
  }

  &-content {
    display: flex;
    position: relative;
    min-height: 100vh ;
    z-index: 9;
    flex-direction: column;
    flex: auto;
    overflow: hidden;
    @include x-transition(0.3s);

    .x-layout-header {
      position: relative;
      width: 100%;
      height: $layout-default-header-height;
      z-index: 10;
      flex: 0 0 auto;
      background: $layout-default-header-bg-color;
      box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
      @include x-transition(0.3s);

      &.header-fixed {
        position: fixed;
        z-index: $layout-default-header-fixed-z-index;
        top: 0;
        right: 0;
        & + .x-layout-main {
          padding-top: $layout-default-header-height;
        }
      }
    }

    .x-layout-main {
      position: relative;
      flex: auto;
    }

    .x-layout-footer {
      flex: 0 0 auto;
    }
  }
}


