/* sider */
$sider-header-height: 64px;
$sider-header-bg-color: $color-theme-11;
$sider-header-text-color: $color-gray-1;
$sider-header-logo-size: 32px;
$sider-header-logo-margin: $sider-header-logo-size/2;

$sider-nav-bg-color: $color-theme-12;
$sider-nav-sub-bg-color: $color-theme-13;
$sider-nav-item-bg-color-active: $color-theme-6;
$sider-nav-item-text-color: $color-secondary-text-dark;
$sider-nav-item-text-color-active: $color-gray-1;
$sider-nav-item-sub-bg-color: transparent;

@mixin el-menu-item-active-common {
  color: $sider-nav-item-text-color-active;
  & > i,
  & .el-tooltip > i {
    color: $sider-nav-item-text-color-active;
  }
}

@mixin el-menu-common {
  background-color: $sider-nav-bg-color;
  .el-menu-item,
  .el-submenu__title {
    height: 48px;
    line-height: 45px;

    .svg-icon,
    .class-icon,
    .image-icon {
      width: 24px;
      height: 19px;
      margin-right: 5px;
    }

    .class-icon {
      text-align: center;
      font-size: 16px;
      line-height: 19px;
      @include x-transition(0.3s);
    }

    .image-icon {
      background-size: 16px 16px;
    }

    [class^=el-icon-] {
      height: 19px;
      @include x-transition(0.3s);
    }
  }
  .el-menu-item {
    & > a {
      @include x-transition(0.3s);
      display: block;
      color: $sider-nav-item-text-color;
      text-decoration: none;
    }

    &:hover,
    &:focus,
    &.is-active {
      & > a {
        @include el-menu-item-active-common;
      }
    }

    &:hover,
    &:focus {
      background-color: $sider-nav-bg-color !important;
    }

    &.is-active {
      background-color: $sider-nav-item-bg-color-active !important;
    }
  }
  .el-submenu {
    .el-submenu__title {
      color: $sider-nav-item-text-color;

      &:hover,
      &:focus {
        background-color: $sider-nav-bg-color !important;
        @include el-menu-item-active-common;
      }
    }

    &.is-opened,
    &.is-active {
      & > .el-submenu__title {
        @include el-menu-item-active-common;
      }
    }
  }
}

.sider {
  position: relative;
  width: 100%;
  height: 100%;

  &-header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    height: $sider-header-height;
    line-height: $sider-header-height;
    background: $sider-header-bg-color;
    overflow: hidden;

    & > a {
      display: flex;
      height: 100%;
      flex-direction: row;
      align-items: center;
      text-decoration: none;

      img {
        flex: 0 0 $sider-header-logo-size;
        width: $sider-header-logo-size;
        height: $sider-header-logo-size;
        margin: 0 $sider-header-logo-margin;
      }

      h1 {
        flex: auto;
        margin: 0;
        color: $sider-header-text-color;
        font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }

  &-nav {
    height: 100%;
    padding-top: $layout-header-height + x-space(1);
    padding-bottom: x-space(1);

    .el-menu {
      border: none;
      width: 100% !important;
      @include el-menu-common;

      .el-submenu {
        .el-menu {
          background-color: $sider-nav-sub-bg-color !important;
          box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);

          .el-menu-item,
          .el-submenu__title {
            background-color: $sider-nav-item-sub-bg-color !important;
          }

          .el-menu-item {
            &.is-active {
              background-color: $sider-nav-item-bg-color-active !important;
            }
          }

          .el-submenu__title {
            &:hover,
            &:focus {
              color: $sider-nav-item-text-color-active;
              background-color: $sider-nav-item-sub-bg-color !important;
            }
          }
        }
      }

      .el-submenu__icon-arrow {
        @include x-transition(0.3s);
      }
    }
  }

  &.fixed .scroll-wrapper {
    height: 100%;
  }
}

.sider-popup {
  .el-menu {
    @include el-menu-common;
  }
}

.animate-sider-header-title {
  &-leave-active {
    transition: opacity 0.05s;
  }

  &-enter-active {
    transition: opacity 2.5s ease-in-out;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}

/* drawer */
$x-drawer-z-index: 1000;

.x-drawer {
  position: fixed;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: $x-drawer-z-index;

  &.x-drawer-open {
    width: 100%;
  }

  * {
    transition: transform 0.3s cubic-bezier(0.9, 0, 0.3, 0.7), box-shadow 0.3s cubic-bezier(0.9, 0, 0.3, 0.7);
  }

  .x-drawer-wrapper {
    position: fixed;
    height: 100%;

    .x-drawer-content {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;
      background-color: #fff;
    }
  }

  &.x-drawer-left .x-drawer-wrapper {
    left: 0;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  }

  &.x-drawer-right .x-drawer-wrapper {
    right: 0;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
  }

  .x-drawer-mask {
    position: fixed;
    width: 100%;
    height: 0;
    background-color: $color-primary-text;
    opacity: 0;
    filter: alpha(opacity=50);
    transition: opacity 0.3s linear, height 0s ease 0.3s;
    cursor: pointer;
  }

  &.x-drawer-open .x-drawer-mask {
    height: 100%;
    opacity: 0.3;
    transition: none;
    animation: x-drawer-fade-in 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
  }
}

@keyframes x-drawer-fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 0.3;
  }
}

/* Page */
.x-layout-page {
  &-header {
    padding: x-space(3) x-space(4) x-space(1) x-space(4);
    background: $color-gray-1;
    border-bottom: 1px solid $color-gray-6;

    .el-breadcrumb {
      margin-bottom: x-space(2);
      line-height: 1.5;
    }

    .page-header-title {
      margin-top: 0;
      margin-bottom: x-space(2);
      font-weight: 600;
      font-size: 20px;
      color: $color-title;
    }

    .page-header-describe {
      margin-bottom: x-space(2);
    }
  }

  &-content {
    padding: x-space(3) x-space(3) 0 x-space(3);

    .el-card {
      .el-card__body {
        padding: x-space(3);
      }
    }
  }
}

.animate-layout-page {
  &-enter-active,
  &-leave-active {
    transition: all 0.5s;
  }

  &-enter, &-leave-to {
    opacity: 0;
  }

  &-enter {
    transform: translateX(-30px);
  }

  &-leave-to {
    transform: translateX(30px);
  }
}

/* complex-table */
.complex-table {
  .filter-wrap, .tips-wrap, .table-wrap, .pagination-wrap {
    margin-bottom: x-space(2);
  }

  .filter-wrap {
    .filter-item {
      display: inline-block;
      vertical-align: middle;
      margin-right: x-space();
      margin-bottom: x-space();

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .tips-wrap {
    .tips {
      span, a {
        display: inline-block;
        vertical-align: middle;
      }

      span.primary {
        color: $color-theme-6;
        font-weight: bold;
        margin-left: x-space(0.5);
        margin-right: x-space(0.5);
      }

      a {
        color: $color-theme-6;
        text-decoration: none;
        &:hover {
          color: $color-theme-4;
          text-decoration: underline;
        }
      }
    }
  }

  .table-wrap {
    .el-table {
      color: $color-primary-text;

      thead {
        color: $color-title;
      }
    }
  }

  .pagination-wrap {
    text-align: center;
  }
}

/* badge */
.x-badge {
  display: inline-block;
  position: relative;
  color: unset;
  line-height: 1;
  margin: 0;
  padding: 0;

  &.x-badge-status {
    line-height: inherit;
    vertical-align: baseline;

    .x-badge-status-dot {
      display: block;
      position: absolute;
      width: 6px;
      height: 6px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;

      &.status-default {
        background-color: $color-gray-7;
      }

      &.status-processing {
        background-color: $color-link;
      }

      &.status-success {
        background-color: $color-success;
      }

      &.status-warning {
        background-color: $color-warning;
      }

      &.status-danger {
        background-color: $color-danger;
      }
    }

    .x-badge-status-text {
      display: inline-block;
      color: $color-primary-text;
      margin-left: 14px;
    }
  }
}

/* fieldset */
.x-field-set {
  display: block;
  position: relative;
  margin: 0 0 x-space(4) 0;
  padding-top: x-space(1);
  border: solid 1px $--border-color-base;

  .x-field-set-legend {
    position: absolute;
    width: auto;
    top: 0;
    margin-left: x-space(3);
    padding: x-space(1);
    transform: translateY(-50%);
    background-color: $color-gray-1;
  }

  .x-field-set-content {
    padding: x-space(2) x-space(2.5) x-space(2.5) x-space(2.5);
    width: 100% !important;
    overflow: hidden;
  }

  &.line-mode {
    border-left: none;
    border-right: none;
    border-bottom: none;

    .x-field-set-content {
      padding: x-space(2) 0 0 0;
    }
  }
}

/* result */
.result-page {
  width: 72%;
  margin: x-space(6) auto;

  &-icon,
  &-title,
  &-description,
  &-actions {
    text-align: center;
    margin-bottom: x-space(3);
  }

  &-icon {
    & > svg,
    & > i {
      font-size: 72px;
      line-height: 72px;
    }
  }

  &-title {
    color: $color-title;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
  }

  &-description {
    margin-bottom: x-space(3);
    color: $color-secondary-text;
    font-size: 14px;
    line-height: 22px;
  }

  &-extra {
    padding: x-space(3) x-space(5);
    text-align: left;
    background: $color-gray-2;
    border-radius: 2px;
  }

  &-actions {
    margin-top: x-space(4);
    margin-bottom: 0;
  }
}