/* 场景 x-page */
.x-page {
  &-header {
    padding: x-space(3) x-space(4) x-space(1) x-space(4);
    background: $color-gray-1;
    border-bottom: 1px solid $color-gray-6;

    .el-breadcrumb {
      margin-bottom: x-space(2);
      line-height: 1.5;
    }

    &-title {
      margin-top: 0;
      margin-bottom: x-space(2);
      font-weight: 600;
      font-size: 20px;
      color: $color-title;
    }

    &-describe {
      margin-bottom: x-space(2);
    }
  }

  &-content {
    padding: x-space(3) x-space(3) 0 x-space(3);

    .el-card {
      .el-card__body {
        padding: x-space(3);
      }
    }
  }
}

/* 场景 x-table-page */
.x-table-page {
  &-filter, &-info, &-table, &-pagination {
    margin-bottom: x-space(2);
  }

  &-filter {
    .filter-item {
      display: inline-block;
      vertical-align: middle;
      margin-right: x-space();
      margin-bottom: x-space();

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-info {
    .tips {
      span, a {
        display: inline-block;
        vertical-align: middle;
      }

      span.primary {
        color: $color-primary;
        font-weight: bold;
        margin-left: x-space(0.5);
        margin-right: x-space(0.5);
      }

      a {
        color: $color-primary;
        text-decoration: none;

        &:hover {
          color: $color-theme-4;
          text-decoration: underline;
        }
      }
    }
  }

  &-table {
    .el-table {
      color: $color-primary-text;

      thead {
        color: $color-title;
      }
    }
  }

  &-pagination {
    text-align: center;
  }
}

/* 场景 x-badge */
.x-badge {
  display: inline-block;
  position: relative;
  color: unset;
  line-height: 1;
  margin: 0;
  padding: 0;

  &.x-badge-status {
    line-height: inherit;
    vertical-align: baseline;

    .x-badge-status-dot {
      display: block;
      position: absolute;
      width: 6px;
      height: 6px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;

      &.status-default {
        background-color: $color-gray-7;
      }

      &.status-processing {
        background-color: $color-primary;
      }

      &.status-success {
        background-color: $color-success;
      }

      &.status-warning {
        background-color: $color-warning;
      }

      &.status-danger {
        background-color: $color-danger;
      }
    }

    .x-badge-status-text {
      display: inline-block;
      color: $color-primary-text;
      margin-left: 14px;
    }
  }
}

/* 场景 x-field-set */
.x-field-set {
  display: block;
  position: relative;
  margin: 0 0 x-space(4) 0;
  padding-top: x-space(1);
  border: solid 1px $--border-color-base;

  .x-field-set-legend {
    position: absolute;
    width: auto;
    top: 0;
    margin-left: x-space(3);
    padding: x-space(1);
    transform: translateY(-50%);
    background-color: $color-gray-1;
  }

  .x-field-set-content {
    padding: x-space(2) x-space(2.5) x-space(2.5) x-space(2.5);
    width: 100% !important;
    overflow: hidden;
  }

  &.line-mode {
    border-left: none;
    border-right: none;
    border-bottom: none;

    .x-field-set-content {
      padding: x-space(2) 0 0 0;
    }
  }
}

/* 场景 x-result-page */
.x-result-page {
  width: 72%;
  margin: 0 auto;

  &.space-top {
    margin-top: x-space(6);
  }

  &.space-bottom {
    margin-bottom: x-space(6);
  }

  &-icon,
  &-title,
  &-description,
  &-actions {
    text-align: center;
    margin-bottom: x-space(3);
  }

  &-icon {
    & > svg,
    & > i {
      font-size: 72px;
      line-height: 72px;
    }
  }

  &-title {
    color: $color-title;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
  }

  &-description {
    margin-bottom: x-space(3);
    color: $color-secondary-text;
    font-size: 14px;
    line-height: 22px;
  }

  &-extra {
    padding: x-space(3) x-space(5);
    text-align: left;
    background: $color-gray-2;
    border-radius: 2px;
  }

  &-actions {
    margin-top: x-space(4);
    margin-bottom: 0;
  }
}

/* x-tree */
.x-tree {
  &-wrap {
    &.has-bg {
      background-color: $color-gray-3;
      .el-tree {
        background-color: transparent;
        .el-tree-node__content:hover {
          background-color: $color-title-dark;
        }
      }
    }
    &.has-border {
      border: solid 1px $color-border;
    }
    &.has-space {
      padding: x-space(1) x-space(1);
    }
  }
}