/* Page */
.x-layout-page {
  .x-layout-page-header {
    padding: x-space(3) x-space(4) x-space(1) x-space(4);
    background: $color-gray-1;
    border-bottom: 1px solid $color-gray-6;

    .el-breadcrumb {
      margin-bottom: x-space(2);
      line-height: 1.5;
    }

    .page-header-title {
      margin-top: 0;
      margin-bottom: x-space(2);
      font-weight: 600;
      font-size: 20px;
      color: $color-title;
    }

    .page-header-describe {
      margin-bottom: x-space(2);
    }
  }

  .x-layout-page-content {
    margin: 24px;

    .el-card {
      .el-card__body {
        padding: x-space(3);
      }
    }
  }
}

/* complex-table */
.complex-table {
  .filter-wrap, .tips-wrap, .table-wrap, .pagination-wrap {
    margin-bottom: x-space(2);
  }

  .filter-wrap {
    .filter-item {
      display: inline-block;
      vertical-align: middle;
      margin-right: x-space();
      margin-bottom: x-space();

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .tips-wrap {
    .tips {
      span, a {
        display: inline-block;
        vertical-align: middle;
      }

      span.primary {
        color: $color-theme-6;
        font-weight: bold;
        margin-left: x-space(0.5);
        margin-right: x-space(0.5);
      }

      a {
        color: $color-theme-6;
        text-decoration: none;
        &:hover {
          color: $color-theme-4;
          text-decoration: underline;
        }
      }
    }
  }

  .table-wrap {
    .el-table {
      color: $color-primary-text;

      thead {
        color: $color-title;
      }
    }
  }

  .pagination-wrap {
    text-align: center;
  }
}

/* badge */
.x-badge {
  display: inline-block;
  position: relative;
  color: unset;
  line-height: 1;
  margin: 0;
  padding: 0;

  &.x-badge-status {
    line-height: inherit;
    vertical-align: baseline;

    .x-badge-status-dot {
      display: block;
      position: absolute;
      width: 6px;
      height: 6px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;

      &.status-default {
        background-color: $color-gray-7;
      }

      &.status-processing {
        background-color: $color-link;
      }

      &.status-success {
        background-color: $color-success;
      }

      &.status-warning {
        background-color: $color-warning;
      }

      &.status-danger {
        background-color: $color-danger;
      }
    }

    .x-badge-status-text {
      display: inline-block;
      color: $color-primary-text;
      margin-left: 14px;
    }
  }
}

/* fieldset */
.x-field-set {
  display: block;
  position: relative;
  margin: 0 0 x-space(4) 0;
  padding-top: x-space(1);
  border: solid 1px $--border-color-base;

  .x-field-set-legend {
    position: absolute;
    width: auto;
    top: 0;
    margin-left: x-space(3);
    padding: x-space(1);
    transform: translateY(-50%);
    background-color: $color-gray-1;
  }

  .x-field-set-content {
    padding: x-space(2) x-space(2.5) x-space(2.5) x-space(2.5);
    width: 100% !important;
    overflow: hidden;
  }

  &.line-mode {
    border-left: none;
    border-right: none;
    border-bottom: none;

    .x-field-set-content {
      padding: x-space(2) 0 0 0;
    }
  }
}

/* result */
.result-page-wrap {
  width: 72%;
  margin: x-space(6) auto;

  .result-page-icon,
  .result-page-index-title,
  .result-page-description,
  .result-page-actions {
    text-align: center;
    margin-bottom: x-space(3);
  }

  .result-page-icon {
    .result-index-icon {
      font-size: 72px;
      line-height: 72px;
    }
  }

  .result-page-index-title {
    color: $color-title;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
  }

  .result-page-description {
    margin-bottom: x-space(3);
    color: $color-secondary-text;
    font-size: 14px;
    line-height: 22px;
  }

  .result-page-extra {
    padding: x-space(3) x-space(5);
    text-align: left;
    background: $color-gray-2;
    border-radius: 2px;

    .result-page-extra-title {
      margin-bottom: x-space(2);
      color: $color-title;
      font-weight: 500;
      font-size: 16px;
    }
  }

  .result-page-actions {
    margin-top: x-space(4);
    margin-bottom: 0;
  }
}