/* constants-color */

$default-font-color: rgba(0, 0, 0, .65);
$color-write: #fff;
$color-write-1: #f0f2f5;
$color-write-2: hsla(0, 0%, 100%, 0.65);

/* theme-color */

$theme-color: #1890ff;
$theme-color-deputy: #001529;
$theme-color-deputy-light: #002140;
$theme-color-deputy-dark: #000c17;